<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update <%= farm.name %> </title>
</head>
<body>
    <h1>Update <%= farm.name %></h1>
    <form action="/farm/<%=farm._id%>?_method=PUT" method="POST">
        <label>Name
            <input type="text" name="name" placeholder="name" value="<%=farm.name%>"></label>
        <label>city
            <input type="text" name="city" value="<%=farm.city%>">
            </label>
            <label>email
                <input type="text" name="email" value="<%=farm.email%>"
            </label>
        <button>submit</button>
    </form>
</body>
</html>